<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>
<p><span th:text="${session.currentUser.email}"></span></p>
<h1>ADMIN PAGE</h1>
<form class="generic-form" method="post">
    <table class="task-table">
        <thead>
        <tr>
            <th>OrderID</th>
            <th>Price</th>
            <th>Status</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="order : ${orderList}">
            <td th:text="${order.orderId}">order id</td>
            <td th:text="${order.price}">price</td>
            <td th:text="${order.paid}">status</td>
            <td>
                <form action="/orderlines" method="get">
                    <input type="hidden" name="orderId" th:value="${order.orderId}" />
                    <button type="submit" class="linkbutton">Details</button>
                </form>
            </td>
            <td>
                <form action="/deleteOrder" method="post">
                    <input type="hidden" name="orderId" th:value="${order.orderId}" />
                    <button type="submit" class="linkbutton">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</form>

</body>

</html>
