<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>
<h1>ADMIN PAGE</h1>
<form class="generic-form" method="post">
    <table class="order-table">
        <thead>
        <tr>
            <th>OrderID</th>
            <th>Price</th>
            <th>Status</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tr th:each="order : ${orderList}">
            <td th:text="${order.orderId}">order id</td>
            <td th:text="${order.price}">price</td>
            <td th:text="${order.paid}">status</td>
            <td>
                <form action="/orderlines" method="get">
                    <input type="hidden" name="orderId" th:value="${order.orderId}" />
                    <button type="submit" class="linkbutton">Details</button>
                </form>
            </td>
            <td>
                <form action="/deleteOrder" method="post">
                    <input type="hidden" name="orderId" th:value="${order.orderId}" />
                    <button type="submit" class="linkbutton">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</form>


<form class="generic-form" method="post" th:action="@{/updateBalance}">
    <table class="task-table">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Email</th>
            <th>Role</th>
            <th>Balance</th>
            <th>Update Balance</th> <!-- New column for balance update -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.userId}">user id</td>
            <td th:text="${user.email}">email</td>
            <td th:text="${user.role}">role</td>
            <td th:text="${user.balance}">balance</td>
            <td>
                <form class="generic-form" method="post">
                    <input type="number" name="balance" placeholder="New Balance" min="0" required/>
                    <button type="submit" name="userId"  th:value="${user.userId}" formaction="/updateBalance">Update</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</form>

</body>

</html>
