<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<p><span th:text="${session.currentUser.email}"></span></p>

<h1>Shopping Cart</h1>
<form method="post">
<table class="orderlist">
  <thead>
  <tr>
    <th>No.</th>
    <th>Topping</th>
    <th>Bottom</th>
    <th>Amount</th>
    <th>Price</th>
  </tr>

  </thead>
  <tbody>
  <tr th:each="orderline, iterStat : ${orderlineList}">
    <td th:text="${iterStat.count}"></td>
    <td th:text="${orderline.toppingName}"></td>
    <td th:text="${orderline.bottomName}"></td>
    <td th:text="${orderline.amount}"></td>
    <td th:text="${orderline.price}"></td>

    <td>
      <button type="submit"  name="cartIndex" th:value="${iterStat.index}" formaction="/removefromcart">Remove</button>
    </td>
  </tr>
  </tbody>

</table>
</form>
Total price:
<p th:text="${totalPrice}"></p>



<br>

<form method="post">
  <button class="linkbutton"  type="submit" formaction="/ordermore" >Order more</button>
  <button class="linkbutton" type="submit" formaction="/checkout">Proceed to checkout</button>
  <button formaction="/logout" class="linkbutton" type="submit">Logout</button>
</form>





</body>
</html>