<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Order</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<p>Vælg en bund og top</p>


<form method="post" >
        <select name="selectedBottomId">
            <option th:each="bottom : ${bottomList}" th:value="${bottom.bottomId}" th:text="${bottom.bottomName+'  '+bottom.bottomPrice+' kr.'}"></option>
        </select>

        <select name="selectedToppingId">
            <option th:each="topping: ${toppingList}" th:value="${topping.toppingId}" th:text="${topping.toppingName+'  '+topping.toppingPrice+' kr.'}"></option>
        </select>

        <input type="number" name="amount" min="1" placeholder="Enter an amount"/>

        <button type="submit" formaction="/addtocart">Add to cart</button>

</form>

<form method="post">
    <button class="checkout-button" type="submit" formaction="/gotocart">Go to cart</button>
</form>
<br>
<br>
<button class="linkbutton" type="button" onclick="window.location.href='index.html';">Logout</button>

</body>
</html>