<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Order</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <a href="../index.html" th:href="@{/}">
        <img src="../../public/images/virk.png" th:src="@{/images/virk.png}"/>
    </a>

</header>

<p>Hello, <span th:text="${session.currentUser.email}"></span></p>
<p>Current balance: <span th:text="${session.currentUser.balance}"></span></p>

<p class="vælg">Vælg en bund og top</p>


<form class="login-form1" method="post" >
        <select name="selectedBottomId">
            <option th:each="bottom : ${bottomList}" th:value="${bottom.bottomId}" th:text="${bottom.bottomName+'  '+bottom.bottomPrice+' kr.'}"></option>
        </select>

        <select name="selectedToppingId">
            <option th:each="topping: ${toppingList}" th:value="${topping.toppingId}" th:text="${topping.toppingName+'  '+topping.toppingPrice+' kr.'}"></option>
        </select>

        <input type="number" name="amount" min="1" placeholder="Enter an amount"/>

        <button class="linkbutton" type="submit" formaction="/addtocart">Add to cart</button>

</form>

<div class="button-container1">
    <form method="post">
        <button class="linkbutton" type="submit" formaction="/gotocart">Go to cart</button>
    </form>
    <button onclick="showPopup()" class="linkbutton">Daily haiku</button>
    <form method="post">
        <button formaction="/logout" class="linkbutton" type="submit">Logout</button>
    </form>


</div>

<dialog id="popup">
    <p th:text="${haiku}"></p>
    <button onclick="closePopup()" class="linkbutton">I feel enlightened</button>
</dialog>

<script>
    function showPopup() {
        var popup = document.getElementById("popup");
        popup.showModal();
    }

    function closePopup() {
        var popup = document.getElementById("popup");
        popup.close();
    }
</script>

</body>
</html>