<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <a href="../index.html" th:href="@{/}">
        <img src="../../public/images/virk.png" th:src="@{/images/virk.png}"/>
    </a>

</header>

<h1>Time to pay!</h1>
<form method="post">
    <button class="linkbutton centered-button" type="submit" formaction="/pay">Pay</button>
        <button formaction="/logout" class="linkbutton centered-button" type="submit" onclick="window.location.href='index.html';">Logout</button>

</form>


</body>
</html>