<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <a href="../index.html" th:href="@{/}">
        <img src="../../public/images/virk.png" th:src="@{/images/virk.png}"/>
    </a>

</header>

<h1>THANK YOU FOR YOUR ORDER, <span th:text="${session.currentUser.email} + '!'"></span></h1>

<div class="button-container2">
    <form method="post">
        <button class="linkbutton"  type="submit" formaction="/ordermore" >Forgot to order something? CLICK HERE!</button>
        <button formaction="/logout" class="linkbutton" type="submit">Logout</button>
    </form>
</div>
</body>
</html>